modeles xml/liste_pathos.dtd

<!-- 

Modele DTD pour le projet Acupuncture du module TLI

-->

<!ELEMENT pathologie ( symptomes)>
<!ATTLIST pathologie
	id			CDATA #IMPLIED
>
<!ELEMENT symptomes (description,type,meridien,symptome+) >
<!ELEMENT description (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT meridien (#PCDATA)>
<!ELEMENT symptome (#PCDATA)>